h2 {
    margin-top: 100px;
}

.showArea {
    display: flex;
    align-items: center;
    margin-top: 20%;
    justify-content: center;
}

.showArea h3 {
    width: 25%;
}

h6 {
    display: flex;
    justify-content: center;
    font-size: x-large;
    margin-bottom: 20%;
}

.page-footer{
    background-color: rgba(0, 0, 0, 0.74);
    margin-bottom: 0px !important;
}